* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../wallpaper.jpg");
    background-size: cover;
    background-position: center;

}
#wrapper {
    text-align: center;
    height: 700px;
    max-width: 1400px;
}
h1{
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 80px;
    text-shadow: 2px 2px 4px #EEEEEE;
    width: 50%;
    margin-left: 300px;

}
#main_reasons {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 80px;
    width: 80%;
    margin-left: 85px;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
    }
      
li {
    float: left;
    }
      
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.6s ease;
    }
ul li a:hover {
    background-color: #4B0082;
    }
#footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 2.5rem;      /* Footer height */
     background-color: white;
     margin-top: -40px
      }





